
body {
  width:100%;
  height:100%;
 background-color: black;
 font-family:'Anton';
 color:#E8E5DE;
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
}

ul {
  display:flex;
  margin: 0;
  padding: 0;
  max-width: 100%;
  list-style-type: none;
  width:100%;
  overflow: hidden;
  background-color: #DF3B32;
  position: sticky;

}
.heading{
  background-color: #DF3B32;
}
li {
  float: right;
  width: 33.3%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin:0;
  text-decoration: none;

}

li a:hover {
  background-color: #111;
}

h1 {font-family:'Anton';
   color:#DF3B32;
  background-color: black;
  font-size: 1.875em;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    margin-bottom:2%;
    align:left;
}
p{font-family:'Verdana'; 
  background-color: black;
  text-align: center;
  font-size: 1em;
  padding:6px;
  
}

section{
  background-color: #DF3B32;
  margin:0;
  padding:0;
  
}

img {
  background-color: #DF3B32;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.intro-section{
  display:flex;
  flex-direction: row;
  width:100%;
  height:100%;
  justify-content: center;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
 
}

main{
  padding-right:10%;
  padding-left:10%;
  padding-top:0;
  padding-bottom:0;
  text-align: center;
}

ol{
  margin: 5%;
  font-family:'Verdana'; 
  text-align: left;
  font-size: 1em;
  margin:2%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}
